---
import Main from '../layouts/Main.astro';

import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Tabs from '../components/Tabs.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';

import '@fontsource/rubik';
import '@fontsource/roboto';
import SkillIcon from '../components/SkillIcon.astro';
---

<Main title="Welcome to Astro.">
	<main class="mx-3">
		<Header />
		<About />
		<Tabs />
		<Contact />
		<Footer />
	</main>
</Main>


<style>
	* {
		font-family: 'Roboto', sans-serif;
	}
</style>