---
import Title from "./Title.astro";

import  '../../public/me.jpg';
---


<section>
    <Title title="About me" />

    <div class="mt-14">
        <img 
            src="../../public/me.jpg" 
            alt="cmglezpdev"
            draggable="false"
            class="rounded-full w-64 h-64 mx-auto object-cover"
        >
    
        <h2 class="text-gray-superlight text-lg text-center">Who am I?</h2>
        <p class="text-gray-superlight text-lg">
            Hi! My name is Carlos Manuel González and I'm Computer Science Student at the University of Havana.
            I really love running and going out with my friends. I'm very curious and keep in continuous learning about the things that I like.
            I'm passionate about web development, cryptocurrencies and machine learning, but currently I'm enfoced on web development.
            I started programming when have 16 years old in the competitive programming. I have been 3 years focused only on that and participated in many national and international competitions from my preuniversity.
            When I ingresed in the university I started to interest more in web development, and I come to develop applications both frontend and backend.
        </p>
    </div>
</section>