---
import Title from "./Title.astro";
---


<div class="my-14">
    <Title title="Contact" />
    <p class="text-gray-superlight mt-9 text-lg">
        I'm available for new projects and work offers, so if you are interested in my work and want that work us together, or simply want that i create the application that you desire, you can write to this email <a href='maito:cmglezpdev@gmail.com' class="text-teal-600 font-bold">cmglezpdev@gmail.com</a> and we talk it.
    </p>
</div>