---
import { AiFillGithub, AiFillTwitterCircle, AiFillLinkedin } from 'react-icons/ai';
---


<footer class="border-gray-light mb-4 border-t-4 text-gray-superlight font-semibold p-2">
    <span class="text-lg">© 2023 - Built by Carlos Manuel</span>
    <div class="flex gap-2 mt-3 md:hidden">
        <a href="https://github.com/cmglezpdev/" class="text-3xl text-gray-light"><AiFillGithub /></a>
        <a href="https://twitter.com/cmglezpdev/" class="text-3xl text-gray-light"><AiFillTwitterCircle /></a>
        <a href="https://linkedin.com/in/cmglezpdev/" class="text-3xl text-gray-light"><AiFillLinkedin /></a>
    </div>
</footer>