---
import SkillIcon from "./SkillIcon.astro";
import Title from "./Title.astro";
---


<section>
    <Title title="Works" />
    <ul class="flex justify-between mt-14 mx-5">
        <li class="text-gray-superlight font-semibold py-1 text-center w-full rounded-t-lg cursor-pointer transition-all duration-300 active">Knowledge</li>
        <li class="text-gray-superlight font-semibold py-1 text-center w-full rounded-t-lg cursor-pointer transition-all duration-300">Learning</li>
        <li class="text-gray-superlight font-semibold py-1 text-center w-full rounded-t-lg cursor-pointer transition-all duration-300">Interested</li>
    </ul>

    <div class="container bg-gray-dark p-4">
        <div class="transition-all duration-500 flex flex-wrap gap-10 justify-center">
            <SkillIcon img="/assets/icons/html.svg" name="HTML" />
            <SkillIcon img="/assets/icons/css.svg" name="CSS" />
            <SkillIcon img="/assets/icons/javascript.svg" name="Javascript" />
            <SkillIcon img="/assets/icons/typescript.svg" name="Typescript" />
            <SkillIcon img="/assets/icons/react.svg" name="React" />
            <SkillIcon img="/assets/icons/nextjs.svg" name="Next.js" />
            <SkillIcon img="/assets/icons/sass.svg" name="SASS" />
            <SkillIcon img="/assets/icons/material-ui.svg" name="Material UI" />
            <SkillIcon img="/assets/icons/astro.svg" name="Astro" />
            <SkillIcon img="/assets/icons/firebase.svg" name="Firebase" />
            <SkillIcon img="/assets/icons/nodejs.svg" name="Node.js" />
            <SkillIcon img="/assets/icons/express.svg" name="express" />
            <SkillIcon img="/assets/icons/nestjs.svg" name="Nest.js" />
            <SkillIcon img="/assets/icons/mongodb.svg" name="Mongo DB" />
            <SkillIcon img="/assets/icons/python.svg" name="Python" />
            <SkillIcon img="/assets/icons/csharp.svg" name="C#" />
            <SkillIcon img="/assets/icons/cplusplus.svg" name="C++" />
        </div>
        <div class="hidden transition-all duration-500 flex-wrap gap-10 justify-center">
            <SkillIcon img="/assets/icons/graphql.svg" name="GraphQL" />
            <SkillIcon img="/assets/icons/docker.svg" name="Docker" />
            <SkillIcon img="/assets/icons/postgresql.svg" name="Postgres" />
        </div>
        <div class="hidden transition-all duration-500 flex-wrap gap-10 justify-center">
            <SkillIcon img="/assets/icons/django.svg" name="Django" />
            <SkillIcon img="/assets/icons/react.svg" name="React" />
            <SkillIcon img="/assets/icons/mysql.svg" name="MySQL" />
            <SkillIcon img="/assets/icons/dotnet.svg" name="ASP.Net" />
            <SkillIcon img="/assets/icons/rust.svg" name="Rust" />
        </div>
    </div>

</section>

<style>
    .active {
        background-color: #2a2830;
    }
</style>


<script>
    const buttons = document.querySelectorAll('li');
    const blocks = document.querySelectorAll('.container > div');

    buttons.forEach((button, index) => {
        button.addEventListener('click', () => {
            // desative the previous button and active the current button
            document.querySelector('.active')!.classList.remove('active');
            button.classList.add('active');

            // hide all the blocks and show the current block
            blocks.forEach(block => {
                if( block.classList.contains('flex') ) {
                    block.classList.remove('flex');
                    block.classList.add('hidden');
                }
            })
            blocks[index].classList.remove('hidden');
            blocks[index].classList.add('flex');

            console.log(blocks[index].classList.contains('flex'));
        })
    })

</script>
