---
import { GrMysql } from 'react-icons/gr';
import { 
    SiTypescript, SiNestjs, 
    SiExpress, SiMaterialui, 
    SiFirebase, SiPython, 
    SiCsharp, SiCplusplus,
    SiHtml5, SiReact,
    SiNodedotjs, SiNextdotjs,
    SiJavascript, SiSass, SiCss3,
    SiGraphql, SiDocker, SiPostgresql,
    SiDjango, SiDotnet, SiRust
} from 'react-icons/si'

import SkillIcon from "./SkillIcon.astro";
import Title from "./Title.astro";
---


<section>
    <Title title="Works" />
    <ul class="flex justify-between mt-14 mx-5">
        <li class="text-gray-superlight font-semibold py-1 text-center w-full rounded-t-lg cursor-pointer transition-all duration-300 active">Knowledge</li>
        <li class="text-gray-superlight font-semibold py-1 text-center w-full rounded-t-lg cursor-pointer transition-all duration-300">Learning</li>
        <li class="text-gray-superlight font-semibold py-1 text-center w-full rounded-t-lg cursor-pointer transition-all duration-300">Interested</li>
    </ul>

    <div class="container bg-gray-dark p-4">
        <div class="transition-all duration-500 flex flex-wrap gap-10 justify-center">
            <SkillIcon name="HTML"><SiHtml5 className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="CSS"><SiCss3 className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Javascript"><SiJavascript className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Typescript"><SiTypescript className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="React"><SiReact className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Next.js"><SiNextdotjs className="text-icon text-gray-light" /></SkillIcon>
            <!-- <SkillIcon name="Astro"><AiFillHtml5 className="text-icon text-gray-light" /></SkillIcon> -->
            <SkillIcon name="Nestjs"><SiNestjs className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Node.js"><SiNodedotjs className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="express"><SiExpress className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Sass"><SiSass className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Material UI"><SiMaterialui className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Firebase"><SiFirebase className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Python"><SiPython className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="C#"><SiCsharp className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="C++"><SiCplusplus className="text-icon text-gray-light" /></SkillIcon>
        </div>
        <div class="hidden transition-all duration-500 flex-wrap gap-10 justify-center">
            <SkillIcon name="GraphQL"><SiGraphql className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Docker"><SiDocker className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Postgres"><SiPostgresql className="text-icon text-gray-light" /></SkillIcon>
        </div>
        <div class="hidden transition-all duration-500 flex-wrap gap-10 justify-center">
            <SkillIcon name="Django"><SiDjango className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="React Native"><SiReact className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="MySQL"><GrMysql className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name=".Net"><SiDotnet className="text-icon text-gray-light" /></SkillIcon>
            <SkillIcon name="Rust"><SiRust className="text-icon text-gray-light" /></SkillIcon>
        </div>
    </div>

</section>

<style>
    .active {
        background-color: #2a2830;
    }
</style>


<script>
    const buttons = document.querySelectorAll('li');
    const blocks = document.querySelectorAll('.container > div');

    buttons.forEach((button, index) => {
        button.addEventListener('click', () => {
            // desative the previous button and active the current button
            document.querySelector('.active')!.classList.remove('active');
            button.classList.add('active');

            // hide all the blocks and show the current block
            blocks.forEach(block => {
                if( block.classList.contains('flex') ) {
                    block.classList.remove('flex');
                    block.classList.add('hidden');
                }
            })
            blocks[index].classList.remove('hidden');
            blocks[index].classList.add('flex');

            console.log(blocks[index].classList.contains('flex'));
        })
    })

</script>
