---
const { title } = Astro.props;
---

<h2 class="text-4xl font-title font-black text-teal-600 text-center mt-28">
    <span class="text-teal-800">{"<br>"}</span>
        { title }
    <span class="text-teal-800">{"</br>"}</span>
</h2>